html {
    max-width: 400px;
    margin: 0 auto;
}
body {
  font-family: Arial;
}

.input , select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button :hover {
  background-color: #45a049;
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 10px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
h3{
  text-align: center;
  margin-bottom: 20px;
  color: rgb(13, 86, 118);
}
label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}